@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-body: 'Montserrat', sans-serif;

  --color-primary: #2b4d8f;
  --color-primary-v2: #2b4d8f;
  --color-primary-icon:var(--color-primary);
  --color-primary-hover: #395ca0;
  --color-primary-hover-v2: #1d3f7d;
  --color-primary-active: #1d3f7d;
  
  --color-icons: #2b4d8f;

  --color-start-gradient: var(--color-primary);
  --color-final-gradient: #2a2a2a;

  --color-surface: #ffffff;
  --color-surface-alt: #f5f7fa;

  --color-text: #1a1a1a;
  --color-text-slogan:#2b4d8f;
  --color-white:#f0f0f0;
  --color-gray: #aaaaaa;
  --color-text-muted: #555555;
  --color-spare-text: var(--color-primary);

  --color-border: #d9d9d9;

  --color-success: #28a745;
  --color-warning: #ffc107;
  --color-error: #dc3545;
}

@layer base {

  .dark {
    --color-primary: #4b4b4b;
    --color-primary-v2: #1d3f7d;
    --color-primary-icon:var(--color-text);
    --color-primary-hover: #d3cece;
    --color-primary-hover-v2: #d3cece;
    --color-start-gradient: var(--color-primary);
    --color-final-gradient: #000000;
    --color-primary-active: #131313;
   
    --color-icons: #f0f0f0;

    --color-surface: #1e1e1e;
    --color-surface-alt: #2a2a2a;

    --color-text: #f0f0f0;
    --color-text-slogan: var(--color-text);
    --color-text-muted: #aaaaaa;
    --color-spare-text: var(--color-text);

    --color-border: #444444;
  }

  body {
    font-family: var(--font-body);
    background-color: var(--color-surface);
    color: var(--color-text);
  }
}